---
import { workCardContentFetcher, workContentFetcher } from "@/api";
import WorkCard from "@/components/Card/WorkCard.astro";
import Spacer from "@/components/Spacer.astro";
import Layout from "@/layouts/Layout.astro";
import { render } from "datocms-structured-text-to-html-string";

const works = (await workCardContentFetcher()).allWorks;

const {
  workPage: { description, metaInfo, title },
} = await workContentFetcher();
---

<Layout metaInfo={metaInfo} activeNavigationOption={"works"}>
  <main
    class="flex flex-col justify-start items-center max-w-7xl w-full gap-6 px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop pb-6 text-silver-100"
  >
    <header
      class="mx-auto flex justify-center items-center flex-col border-b-[1px] border-silver-100 w-full pb-2 gap-1"
    >
      <h1 class="text-center text-3xl lg:text-4xl font-bold">
        {title}
      </h1>
      <div class="text-center description">
        <Fragment set:html={render(description)} />
      </div>
    </header>
    <div
      class="flex flex-col justify-start items-center w-full gap-8 md:grid md:grid-cols-2 md:items-start xl:grid-cols-3 lg:gap-6"
    >
      {
        works.map(
          ({
            id,
            slug,
            projectLink,
            companyName,
            role,
            workStartDate,
            workEndDate,
            repositoryLink,
            gradientStartColor,
            gradientEndColor,
            ongoing,
            shortRemark,
          }) => (
            <WorkCard
              id={id}
              slug={slug}
              ongoing={ongoing}
              projectLink={projectLink}
              companyName={companyName}
              role={role}
              shortRemark={shortRemark}
              workStartDate={workStartDate}
              workEndDate={workEndDate}
              repositoryLink={repositoryLink}
              gradientStartColor={gradientStartColor}
              gradientEndColor={gradientEndColor}
            />
          )
        )
      }
    </div>
  </main>
  <Spacer />
</Layout>

<style>
  .description {
    @apply text-base lg:text-lg;
  }
</style>
