---
import { munContentFetcher, projectsCardContentFetcher } from "@/api";
import ProjectCard from "@/components/Card/ProjectCard.astro";
import Spacer from "@/components/Spacer.astro";
import Layout from "@/layouts/Layout.astro";
import { projectCompareFunction } from "@/utils";
import { render } from "datocms-structured-text-to-html-string";

const projects = (await projectsCardContentFetcher()).allProjects.sort(
  projectCompareFunction
);

const {
  munPage: { title, description, pageDescription },
} = await munContentFetcher();
---

<Layout
  title="Fatih's Portofolio"
  activeNavigationOption={"mun"}
  pageDescription={pageDescription}
>
  <main
    class="flex flex-col justify-start items-center max-w-7xl w-full gap-6 px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop pb-6 text-silver-100"
  >
    <header
      class="mx-auto flex justify-center items-center flex-col border-b-[1px] border-silver-100 w-full pb-2 gap-1"
    >
      <h1 class="text-center text-3xl lg:text-4xl font-bold">
        {title}
      </h1>
      <div class="text-center description">
        <Fragment set:html={render(description)} />
      </div>
    </header>
    <section
      class="flex flex-col justify-start items-center w-full gap-8 md:grid md:grid-cols-2 md:items-start xl:grid-cols-3 lg:gap-6"
    >
      {
        projects.map(
          ({
            id,
            projectLink,
            projectName,
            projectStartDate,
            repositoryLink,
            shortDescription,
            projectEndDate,
            gradientStartColor,
            gradientEndColor,
          }) => (
            <ProjectCard
              id={id}
              projectName={projectName}
              projectEndDate={projectEndDate}
              projectStartDate={projectStartDate}
              projectLink={projectLink}
              repositoryLink={repositoryLink}
              shortDescription={shortDescription}
              gradientStartColor={gradientStartColor}
              gradientEndColor={gradientEndColor}
            />
          )
        )
      }
    </section>
  </main>
  <Spacer />
</Layout>

<style>
  .description {
    @apply text-base lg:text-lg;
  }
</style>
