---
import { munCardContentFetcher, munContentFetcher } from "@/api";
import MUNCard from "@/components/Card/MUNCard.astro";
import Spacer from "@/components/Spacer.astro";
import Layout from "@/layouts/Layout.astro";
import { customRender } from "@/utils/redaction";
import { render } from "datocms-structured-text-to-html-string";

const muns = (await munCardContentFetcher()).allMuns;

const {
  munPage: { title, description, metaInfo },
} = await munContentFetcher();
---

<Layout metaInfo={metaInfo} activeNavigationOption={"mun"}>
  <main
    class="flex flex-col justify-start items-center max-w-7xl w-full gap-6 px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop pb-6 text-silver-100"
  >
    <header
      class="mx-auto flex justify-center items-center flex-col border-b-[1px] border-silver-100 w-full pb-2 gap-1"
    >
      <h1 class="text-center text-3xl lg:text-4xl font-bold">
        {title}
      </h1>
      <div class="text-center description">
        <Fragment set:html={customRender(description)} />
      </div>
    </header>
    <div
      class="flex flex-col justify-start items-center w-full gap-8 md:grid md:grid-cols-2 md:items-start xl:grid-cols-3 lg:gap-6"
    >
      {
        muns.map(
          ({
            id,
            slug,
            eventName,
            roleOrAward,
            startDate,
            council,
            gradientStartColor,
            gradientEndColor,
            shortRemark,
            country,
            bestPositionPaper,
          }) => (
            <MUNCard
              id={id}
              slug={slug}
              eventName={eventName}
              roleOrAward={roleOrAward}
              startDate={startDate}
              council={council[0].acronym}
              country={country[0].name}
              countryFlag={country[0].flag}
              shortRemark={shortRemark}
              bestPositionPaper={bestPositionPaper}
              gradientStartColor={gradientStartColor}
              gradientEndColor={gradientEndColor}
            />
          )
        )
      }
    </div>
  </main>
  <Spacer />
</Layout>

<style>
  .description {
    @apply text-base lg:text-lg;
  }
</style>
