---
import type { MUNCardContent, ProjectCardContent } from "@/types/cms";
import { dateConverter } from "@/utils";
import { months } from "@/utils";
import Card from "./Card.astro";
import Spacer from "../Spacer.astro";

type MUNCardProp = MUNCardContent;
const {
  id,
  eventName,
  council,
  roleOrAward,
  startDate,
  gradientStartColor,
  gradientEndColor,
  shortRemark,
} = Astro.props as MUNCardProp;

const roleOrAwardAbbreviation = roleOrAward
  .split(" ")
  .map((word) => word[0])
  .join("");

const { year: startYear } = dateConverter(startDate);
---

<Card
  gradientEndColor={gradientEndColor}
  gradientStartColor={gradientStartColor}
>
  <a
    href={`/hobby-project/${id}`}
    target="_blank"
    aria-label={`Link to the page for ${eventName} ${startYear}`}
    class="absolute inset-0"></a>
  <div class="flex justify-start items-start w-full h-full gap-2">
    <div class="flex flex-col items-start justify-start w-full gap-3">
      <div class="flex flex-col items-start justify-start w-full">
        <h2 class="text-xl lg:text-2xl text-silver-100 text-left font-bold">
          {eventName}
        </h2>
        <p class="text-sm lg:text-base text-silver-100 font-bold">
          {startYear}
        </p>
        <p class="text-sm lg:text-base text-silver-100 font-medium">
          {council}
        </p>
      </div>
      <p>{shortRemark}</p>
    </div>
    <div
      class={`${
        roleOrAwardAbbreviation === "D" ? "hidden" : ""
      } border-l-2 border-silver-100 h-full pl-4 flex flex-col items-center justify-center`}
    >
      <p
        class={`award-text text-left self-start text-xl lg:text-2xl text-silver-100 font-bold ${
          ["HC", "AC"].includes(roleOrAwardAbbreviation) ? "hidden" : ""
        } animate-variableColorChange group-hover:animate-none`}
        style={`--startColor:${gradientStartColor}; --endColor:${gradientEndColor};`}
      >
        {roleOrAwardAbbreviation}
      </p>
      <i
        class={`fa-solid fa-chair text-xl lg:text-2xl ${
          ["HC", "AC"].includes(roleOrAwardAbbreviation) ? "" : "hidden"
        } ${roleOrAwardAbbreviation === "HC" ? "animate-glow-pulse" : ""} `}
      >
      </i>
    </div>
  </div>
</Card>

<style define:vars={{ gradientEndColor, gradientStartColor }}>
  .award-text {
    --start-color: var(--gradientStartColor);
    --end-color: var(--gradientEndColor);
  }
</style>
