---
import type { MUNCardContent, ProjectCardContent } from "@/types/cms";
import { dateConverter, months } from "@/utils/utils";
import Card from "./Card.astro";
import MUNAwardCard from "./MUNAward/MUNAwardCard.astro";

type MUNCardProp = MUNCardContent;
const {
  id,
  eventName,
  council,
  roleOrAward,
  startDate,
  gradientStartColor,
  gradientEndColor,
  shortRemark,
  bestPositionPaper,
  country,
} = Astro.props as MUNCardProp;

const { year: startYear } = dateConverter(startDate);
---

<Card
  gradientEndColor={gradientEndColor}
  gradientStartColor={gradientStartColor}
>
  <a
    href={`/mun/${id}`}
    target="_blank"
    aria-label={`Link to the page for ${eventName} ${startYear}`}
    class="absolute inset-0"></a>
  <div class="flex justify-start items-stretch w-full h-full gap-2">
    <div class="flex flex-col items-start justify-start w-full gap-3">
      <div class="flex flex-col items-start justify-start w-full">
        <h2 class="text-xl lg:text-2xl text-silver-100 text-left font-bold">
          {eventName}
        </h2>
        <p class="text-sm lg:text-base text-silver-100 font-bold">
          {startYear}
        </p>
        <p class="text-sm lg:text-base text-silver-100 font-medium">
          {council} - {country[0].flag}
        </p>
      </div>
      <p class="text-sm lg:text-base text-silver-100 flex-grow">
        {shortRemark}
      </p>
    </div>
    <MUNAwardCard
      bestPositionPaper={bestPositionPaper}
      roleOrAward={roleOrAward}
      gradientEndColor={gradientEndColor}
      gradientStartColor={gradientStartColor}
    />
  </div>

  <style define:vars={{ gradientEndColor, gradientStartColor }}>
    .award-text {
      --start-color: var(--gradientStartColor);
      --end-color: var(--gradientEndColor);
    }
  </style>
</Card>
