---
import type { MUNCardContent, ProjectCardContent } from "@/types/cms";
import { dateConverter } from "@/utils";
import { months } from "@/utils";
import Card from "./Card.astro";
import Spacer from "../Spacer.astro";

type MUNCardProp = MUNCardContent;
const {
  id,
  eventName,
  roleOrAward,
  startDate,
  gradientStartColor,
  gradientEndColor,
  shortRemark,
} = Astro.props as MUNCardProp;

const { year: startYear } = dateConverter(startDate);
---

<Card
  gradientEndColor={gradientEndColor}
  gradientStartColor={gradientStartColor}
>
  <a
    href={`/hobby-project/${id}`}
    target="_blank"
    aria-label={`Link to the page for ${eventName} ${startYear}`}
    class="absolute inset-0"></a>
  <div class="flex flex-col items-start justify-start w-full">
    <h2 class="text-xl lg:text-2xl text-silver-100 text-left font-bold">
      {eventName}
    </h2>
    <p class="text-sm lg:text-base text-silver-100 font-medium">
      {startYear}
    </p>
    <p>{shortRemark}</p>
  </div>
  <Spacer />
  <p
    class="text-left self-start text-base lg:text-lg text-silver-100 font-bold"
  >
    {roleOrAward}
  </p>
</Card>

<style></style>
