---
import type { ProjectCardContent } from "@/types/cms";
import { dateConverter } from "@/utils/utils";
import { months } from "@/utils/utils";
import Card from "./Card.astro";
import Spacer from "../Spacer.astro";

type ProjectCardProp = ProjectCardContent;
const {
  id,
  projectName,
  projectEndDate,
  projectStartDate,
  projectLink,
  repositoryLink,
  shortDescription,
  gradientStartColor,
  gradientEndColor,
  ongoing,
  links,
} = Astro.props as ProjectCardProp;

const { month: startMonth, year: startYear } = dateConverter(projectStartDate);
const { month: endMonth, year: endYear } = projectEndDate
  ? dateConverter(projectEndDate)
  : { month: 0, year: 0 };
---

<Card
  gradientEndColor={gradientEndColor}
  gradientStartColor={gradientStartColor}
>
  <a
    href={`/hobby-project/${id}`}
    target="_blank"
    aria-label={`Link to the page for ${projectName}`}
    class="absolute inset-0"></a>
  <div class="flex justify-start items-stretch w-full h-full gap-2">
    <div class="flex flex-col w-full items-start justify-start gap-2">
      <div class="flex flex-col w-full items-start justify-start">
        <h2 class="text-xl lg:text-2xl text-silver-100 text-left font-bold">
          {projectName}
        </h2>
        <p class="text-sm lg:text-base text-silver-100 font-bold">
          {months[startMonth - 1]}
          {startYear}
          {
            ongoing
              ? "- Now"
              : projectEndDate
              ? `- ${months[endMonth - 1]} ${endYear}`
              : ""
          }
        </p>
      </div>
      <p class="text-sm lg:text-base text-silver-100 flex-grow">
        {shortDescription}
      </p>
    </div>
    <Spacer />
    <div
      class={`border-l-2 border-silver-100 pl-4 flex flex-col items-center justify-center ${
        repositoryLink || projectLink ? "" : "hidden"
      }`}
    >
      {
        repositoryLink && (
          <a
            href={repositoryLink}
            target="_blank"
            onclick="(e) => e.stopPropagation()"
            class="transition-colors hover:scale-105 relative z-10 group-hover:animate-none animate-variableColorChange"
            aria-label={`Link to the repository of ${projectName}`}
            style={`--startColor:${gradientStartColor}; --endColor:${gradientEndColor};`}
          >
            <i class="fa-brands fa-github text-3xl" />
          </a>
        )
      }
      {
        projectLink && (
          <a
            href={projectLink}
            target="_blank"
            onclick="(e) => e.stopPropagation();"
            class="transition-colors hover:scale-105 relative z-10 group-hover:animate-none animate-variableColorChange"
            aria-label={`Link to the ${projectName}`}
            style={`--startColor:${gradientEndColor}; --endColor:${gradientStartColor};`}
          >
            <i class="fa-solid fa-link  text-2xl" />
          </a>
        )
      }
    </div>
  </div>
</Card>

<style></style>
