---
import { homeContentFetcher } from "@/api";
import PhotoOfUs from "@/components/PhotoOfUs.svelte";
import Layout from "../layouts/Layout.astro";
import { render } from "datocms-structured-text-to-html-string";
import Option from "@/components/Option.astro";
import { customRender } from "@/utils/redaction";

const {
  home: { name, description, metaInfo, photoOfUs, photoCycleTime },
} = await homeContentFetcher();
---

<Layout metaInfo={metaInfo} activeNavigationOption={"home"}>
  <main
    class="flex-grow flex flex-col justify-center items-center w-full px-horizontalPaddingMobile lg:px-horizontalPaddingDesktop"
  >
    <header
      class="flex flex-col justify-center items-center h-full w-full max-w-2xl"
    >
      <PhotoOfUs
        cycleInterval={photoCycleTime}
        photoSet={photoOfUs}
        client:visible
      />
      <h1
        class="text-center font-bold text-3xl md:text-5xl text-silver-100 mb-1 lg:mb-4"
      >
        {name}
      </h1>
      <div class="text-silver-300 text-sm md:text-base w-full mb-4">
        <Fragment set:html={customRender(description)} />
      </div>
      <ul class="w-full flex flex-col sm:flex-row justify-between gap-3 lg:gap-4">
      <Option
        startColor={"#e4c6fa"}
        endColor={"#a56de2"}
        destination={"/mun"}
        text={"MUNs"}
      > 
        <i slot="icon" class={`fa-solid fa-globe `} />
      </Option>
      <Option
        startColor={"#89ffdd"}
        endColor={"#28bca3"}
        destination={"/works"}
        text={"Works & Jobs"}
      > 
        <i slot="icon" class={`fa-solid fa-briefcase `} />
      </Option>
      <Option
        startColor={"#d1ff82"}
        endColor={"#68b723"}
        destination={"/hobby-project"}
        text={"Hobby Projects"}
      > 
        <i slot="icon" class={`fa-solid fa-pencil `} />
      </Option>
      <Option
        startColor={"#ff453a"}
        endColor={"#c12117"}
        destination={"/iisma-journal"}
        text={"IISMA Journal"}
    > 
        <i slot="icon" class="fa-brands fa-canadian-maple-leaf fa-lg"></i>
      </Option>
      </ul>
    </header>
  </main>
</Layout>
