---
import { projectsCardContentFetcher } from "@/api";
import ProjectCard from "@/components/ProjectCard.astro";
import Spacer from "@/components/Spacer.astro";
import Layout from "@/layouts/Layout.astro";

const {allProjects} = await projectsCardContentFetcher();
---
<Layout title="Fatih's Portofolio" activeNavigationOption={"portofolio"}>
    <main class="flex flex-col justify-start items-center max-w-md w-full gap-6">
        <header>
            <h1 class="text-silver-100 text-left text-3xl font-bold">The many projects that I've worked on
            </h1>
        </header>
        <section class="flex flex-col justify-start items-center w-full">
            {allProjects.map(({projectLink, projectName, projectStartDate, repositoryLink, shortDescription, projectEndDate, gradientStartColor, gradientEndColor}) => <ProjectCard projectName={projectName} projectEndDate={projectEndDate} projectStartDate={projectStartDate} projectLink={projectLink} repositoryLink={repositoryLink} shortDescription={shortDescription} gradientStartColor={gradientStartColor} gradientEndColor={gradientEndColor}  />
            )}
        </section>
    
    </main>
    <Spacer />
</Layout>