---
export type OptionProp = {
iconName: string;
text: string;
destination: string;
startColor : string;
endColor : string;
}

    const {
        startColor,
        endColor,
        destination,
    iconName, text
} = Astro.props as OptionProp;
---    
  
  <li
class="w-full lg:w-1/3"
  >
    <a
      href={destination}
      class={`flex gap-2 lg:flex-col lg:gap-1 justify-center items-center select-none font-bold rounded-xl text-silver-100 bg-black-500 group box-border p-3 lg:p-4 hover:shadow-hoveredCard hover:scale-101 transition-all cursor-pointer h-full relative hover:bg-gradient-to-b
      text-left lg:text-center
      `}
      style={`
        --tw-gradient-from: ${startColor};
        --tw-gradient-to: ${endColor};
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-shadow-color: ${startColor};
        --tw-shadow: var(--tw-shadow-colored);
    `}
    >
      <i class={`fa-solid fa-${iconName} `} />
      <p>{text}</p>
    </a>
  </li>
  
  <style>
.selected {
    @apply animate-variableColorChange pointer-events-none;
  }
  </style>
  