---
import type { ProjectCardContent } from "@/types/cms";
import { dateConverter } from "@/utils";
import Spacer from "./Spacer.astro";
import { months } from "@/utils";

    type ProjectCardProp = ProjectCardContent
    const {projectName, projectEndDate, projectStartDate, projectLink, repositoryLink, shortDescription, gradientStartColor, gradientEndColor} = Astro.props as ProjectCardProp

    const {month : startMonth, year : startYear} = dateConverter(projectStartDate);
    const {month : endMonth, year : endYear} = projectEndDate ? dateConverter(projectEndDate) : {month : 0, year : 0};
---

<article class={`w-full min-h-cardMobile lg:min-h-cardDesktop rounded-xl bg-gradient-to-b from-silver-100 to-black-500 flex flex-col justify-start items-start box-border p-4 gap-1 hover:shadow-hoveredCard hover:scale-101 transition-all cursor-pointer md:h-full`} style={`
    --tw-gradient-from: ${gradientStartColor};
    --tw-gradient-to: ${gradientEndColor};
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-shadow-color: ${gradientStartColor};
    --tw-shadow: var(--tw-shadow-colored);
`}>
    <h2 class="text-3xl lg:text-2xl text-silver-100 text-left font-bold">{projectName}</h2>
    <p class="text-lg lg:text-base text-silver-100 font-medium">{months[startMonth - 1]} {startYear} {projectEndDate ? `- ${months[endMonth - 1]} ${endYear}` : ''}
    </p>
    <p class="text-lg lg:text-base text-silver-100 flex-grow">{shortDescription}</p>
    <div class="flex justify-center items-center gap-4 text-silver-100 mt-2">
        {projectLink &&
        <a href={repositoryLink} target="_blank" onclick="(e) => e.stopPropagation()" class="transition-colors hover:scale-105"><i class="fa-brands fa-github  text-4xl lg:text-3xl"></i></a>
        }
        {repositoryLink &&
        <a href={projectLink} target="_blank" onclick="(e) => e.stopPropagation()" class="transition-colors hover:scale-105"><i class="fa-solid fa-up-right-from-square  text-3xl lg:text-2xl"></i></a>
        }
    </div>

</article>