---
import Footer from "@/components/Footer.astro";
import Header from "@/components/LeftSidebar/LeftSidebar.svelte";
import type { Image, ListPageContent } from "@/types/cms";
import type { HeaderOption } from "@/types/types";

export type Props = { metaInfo: ListPageContent["metaInfo"] } & {
  activeNavigationOption: HeaderOption;
  indexedAndFollowed?: boolean;
};

const {
  metaInfo: { title, description, customThumbnail },
  activeNavigationOption,
  indexedAndFollowed = true,
} = Astro.props as Props;

const thumbnailPath =
  customThumbnail?.url ??
  `${import.meta.env.URL}/favicon/android-chrome-192x192.png`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Metadata -->
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Fatih Nararya Rashadyfa Ilhamsyah" />
    <meta name="copyright" content="Fatih Nararya Rashadyfa Ilhamsyah" />
    <meta name="application-name" content="Fatih NRI homepage" />
    <meta charset="UTF-8" />
    {
      indexedAndFollowed ? (
        <meta
          name="robots"
          content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />
      ) : (
        <meta name="robots" content="nofollow, noindex" />
      )
    }

    <!-- App-specific metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content={thumbnailPath} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={thumbnailPath} />

    <!-- Third party script -->
    <script
      src="https://kit.fontawesome.com/112dcdcf9d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="flex flex-col justify-start items-center pt-headerHeight bg-background min-h-screen relative"
  >
    {
      activeNavigationOption !== "home" && (
        <Header
          activeNavigationOption={activeNavigationOption}
          client:visible
        />
      )
    }
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body * {
    @apply font-inter m-0 p-0;
  }

  .right-sidebar-button {
    @apply p-2 leading-none shadow-md shadow-black-900/30 font-bold text-center bg-black text-silver-100 hover:bg-silver-100 hover:text-black transition-all rounded-lg flex flex-col normal-case pointer-events-auto;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .summary-container * {
    @apply leading-loose;
  }

  .summary-container ol,
  .summary-container ul {
    @apply list-inside mb-2 pl-2 lg:pl-4;
  }

  .summary-container ol {
    @apply list-decimal;
  }

  .summary-container ul {
    @apply list-disc;
  }

  .summary-container li::marker {
    @apply text-lg lg:text-xl;
  }

  .summary-container li > p {
    @apply inline;
  }

  .summary-container h2 {
    @apply text-3xl font-bold mt-4 lg:text-4xl mb-2;
  }

  .summary-container h3 {
    @apply text-xl font-bold mt-2 lg:text-3xl;
  }

  .summary-container h4 {
    @apply text-lg font-bold lg:text-2xl;
  }

  .summary-container h5 {
    @apply text-base font-medium lg:text-lg;
  }

  .summary-container p {
    @apply text-base leading-8 mb-2 lg:text-lg;
  }

  .summary-container code {
    @apply font-mono bg-black-500 p-1 rounded-md;
  }

  .summary-container a {
    @apply underline decoration-1 underline-offset-2;
  }

  .summary-container del {
    @apply select-none bg-silver-100 text-transparent
  }

</style>
