---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header/Header.svelte";
import type { HeaderOption } from "@/types/types";

export interface Props {
  title: string;
  activeNavigationOption: HeaderOption;
  pageDescription: string;
}

const { title, activeNavigationOption, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="generator" content={Astro.generator} />

    <!-- Metadata -->
    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
    <title>{title}</title>
    <meta name="description" content={pageDescription} />
    <meta name="author" content="Fatih Nararya Rashadyfa Ilhamsyah" />
    <meta name="copyright" content="Fatih Nararya Rashadyfa Ilhamsyah" />
    <meta name="application-name" content="Fatih NRI homepage" />
    <meta charset="UTF-8" />

    <!-- App-specific metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/favicon.ico" />
    <meta property="og:description" content={pageDescription} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content="/favicon.ico" />

    <!-- Third party script -->
    <script
      src="https://kit.fontawesome.com/112dcdcf9d.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body
    class="flex flex-col justify-start items-center pt-headerHeight bg-background min-h-screen relative"
  >
    <Header activeNavigationOption={activeNavigationOption} client:visible />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  body * {
    @apply font-inter m-0 p-0;
  }

  .next-prev {
    @apply flex items-center text-background w-full lg:w-1/2 gap-2 rounded-lg px-4 py-2 hover:shadow-hoveredCard hover:scale-101 transition-all;
  }
  /* 
  .next-prev * {
    @apply mix-blend-exclusion;
  } */

  .right-sidebar-button {
    @apply p-2 leading-none shadow-md shadow-black-900/30 font-bold text-center bg-black text-silver-100 hover:bg-silver-100 hover:text-black transition-all rounded-lg flex flex-col normal-case pointer-events-auto;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  .summary-container * {
    @apply leading-loose;
  }

  .summary-container h2 {
    @apply text-3xl font-bold mt-4 lg:text-4xl mb-2;
  }

  .summary-container h3 {
    @apply text-2xl font-bold lg:text-3xl;
  }

  .summary-container h4 {
    @apply text-xl font-bold lg:text-2xl;
  }

  .summary-container h5 {
    @apply text-xl font-medium lg:text-2xl;
  }

  .summary-container p {
    @apply text-lg leading-8 mb-2 lg:text-xl;
  }
</style>
